.screen-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin-top: -2vh;
}

.column-layout {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-left: 0.5%;
}

.UF_logo {
  margin-left: 4%;
  margin-top: -3.2%;
  width: 40%;
  height: 110%;
  /* width: 250px
  height: 180px; */
}

.Lab_logo {
  margin-left: 1%;
  margin-top: 4.5%;
  width: 37%;
  height: 38%;
  /* width: 175px;
  height: 65px; */
}

.logo-container {
  margin-top: 2%;
  flex-direction: row;
  display: flex;
}

.header-text {
  margin-top: -10%;
  width: 100%;
  text-align: center;
}

.text {
  margin-top: -2%;
  margin-left: 2%;
}

.text2 {
  margin-top: 3%;
  margin-left: 2%;
}

.date-time-window {
  margin-top: 3%;
  margin-left: 2%;
  width: 96%;
}

.button {
  margin-top: 0%;
  width: 30%;
  margin-left: 32%;
}

.table {
  margin-top: 5%;
  margin-left: 2%;
  max-width: 96%;
}

.text3 {
  margin-top: -5%;
  margin-left: 2%;
}

.line-chart {
  margin-top: 0.5%;
  width: 100%;
  margin-left: 0%;
  height: 50%;
}

.leaflet-container {
  height: 98.5%;
  margin-top: 1%;
  min-width: 45%;
  margin-left: -2.5%;
}

.bar-chart {
  margin-top: 0%;
  margin-left: 0%;
  width: 100%;
  height: 50%;
}

.switch {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box {
  margin-top: 7%;
  margin-left: 2%;
}

.column-layout-2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin-left: 0.5%;
  /* margin-top: 2%; */
}

.selector {
  margin-top: -5%;
}

.issue-button {
  margin-top: -5%;
}